@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

#root {
  /* Grille de mise en page  */
  display: grid;
  width: 100%;
  grid-template-columns: minmax(65px, 65px) 1fr;
  grid-template-rows: 85px 1fr 1fr;
  font-size: 1em;
}

/* Placer la balise Main des différentes pages sur sa cellule dans la grille de #root */
.dashboard,
.homepage,
.demopage {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-row: auto / span 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Conteneur du profil utilisateur */
.dashboard__profile {
  grid-column: 2;
  grid-row: 2 / span 2;
  width: 100%;
  height: 100%;
  /* Grille de mise en page des graphiques */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 250px;
  grid-template-rows: 15% repeat(4, 1fr);
  gap: 1em;
  padding: 1em 2em;
}

.dashboard__profile__hello {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}

.dashboard__profile__activity {
  display: flex;
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  background-color: #f4f4f4;
}

.dashboard__profile__sessions {
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 4 / span 2;
  background-color: #ff0000;
}

.dashboard__profile__performance {
  display: flex;
  grid-column: 2 / span 1;
  grid-row: 4 / span 2;
  background-color: #282d30;
  font-weight: 500;
}

.dashboard__profile__score {
  display: flex;
  grid-column: 3 / span 1;
  grid-row: 4 / span 2;
  background-color: #f4f4f4;
}

.dashboard__profile__datakeys {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  grid-column: 4 / span 1;
  grid-row: 2 / span 4;
}
